{% extends 'v1/activity/editor/permission/base.html' %}

{% load staticfiles %}

{% block page_breadcrumb %}
{{ block.super }}
<li>
	<a>Thêm quyền hạn</a>
</li>
{% endblock %}


{% block tab_content %}
<form role="form" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="form-group col-md-6">
			<label class="control-label">Người dùng</label>
			{{ form.user }}
			{{ form.user.errors }}
		</div>
	</div>
	{% include 'v1/activity/editor/permission/editor.html' %}
</form>
{% endblock %}