{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_breadcrumb %}
<li>
	<a href="{% url 'activity_list_view_v1' %}">Hoạt động</a>
	<i class="fa fa-angle-right"></i>
</li>
<li>
	<a href="{% url 'activity_detail_view_v1' activity_id %}">{{ activity_full_name }}</a>
	<i class="fa fa-angle-right"></i>
</li>
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-12">
		<!--BEGIN TABS-->
		<div class="tabbable tabbable-custom tabbable-full-width">

			<ul class="nav nav-tabs">
				<li class="{% block update_active %}{% endblock %}">
					<a href="{% url 'activity_update_view_v1' activity_id %}">
					Cập nhật thông tin </a>
				</li>
			
				<li class="{% block change_permission_active %}{% endblock %}">
					<a href="{% url 'activity_permission_list_view_v1' activity_id %}">
					Cập nhật quyền hạn </a>
				</li>
			</ul>			
			<div class="tab-content">
				<div class="tab-pane active">
				{% block tab_content %}

				{% endblock %}
				</div>
			</div>
		</div>
		<!--END TABS-->
	</div>
</div>
{% endblock %}