<!DOCTYPE html>
<html>

<head>
	{% load staticfiles %}
	<meta charset="utf-8"/>
	<SCRIPT src="{% static 'temporary/treeview/ua.js' %}"></SCRIPT>
	<SCRIPT src="{% static 'temporary/treeview/ftiens4.js' %}"></SCRIPT>
	<SCRIPT TYPE="text/javascript">
		USETEXTLINKS = 1
		STARTALLOPEN = 0
		USEFRAMES = 0
		USEICONS = 1
		WRAPTEXT = 1
		PRESERVESTATE = 0

		ICONPATH="{% static 'temporary/treeview/' %}"

{{ html_content|safe }}

	</SCRIPT>
	<link rel="stylesheet" type="text/css" href="{% static 'temporary/treeview/treeView.css' %}"/>
</head>

 <BODY topmargin="16" marginheight="16">
 	<DIV style="position:absolute; top:0; left:0;">
 		<TABLE border=0>
 			<TR>
 				<TD>
 					<FONT size=-2>
 						<A style="font-size:7pt;text-decoration:none;color:silver" href="http://www.treemenu.net/" target=_blank>Javascript Tree Menu</A>
 					</FONT>
 				</TD>
 			</TR>
 		</TABLE>
 	</DIV>
 	<SCRIPT>initializeDocument()</SCRIPT>
  	<NOSCRIPT>
   		A tree for site navigation will open here if you enable JavaScript in your browser.
  	</NOSCRIPT>

 </BODY>

</html>