{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}
{% block page_level_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/select2/select2.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" %}"/>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/table.js" %}"></script>
{% endblock %}

{% block page_level_plugins_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "v1/assets/global/plugins/select2/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" %}"></script>
{% endblock %}

{% block page_content %}
<form method="post">
<div class="portlet box green">
	<div class="portlet-title">
        <div class="caption">
            <i class="fa fa-comments"></i>Đăng ký rèn luyện đoàn viên
        </div>
    </div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-12">
				{% include 'v1/renluyendoanvien/reg_nhanthuc.html' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% include 'v1/renluyendoanvien/reg_hanhdong.html' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% include 'v1/renluyendoanvien/reg_vltt.html' %}
			</div>
		</div>
		<div style="text-align: right;">
			<input class="btn btn-default green" type="submit" value="Đăng ký" />
		</div>
	</div>

</div>
</form>
{% endblock %}