<div class="note note-success">
    <h4><b>Việc làm thiết thực</b></h4>
    <div class="row">
        <div class="col-md-12">
            <label for="Work">Việc làm</label>
            <input type="text" class="form-control" id="work">
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            <label for="Description">Mô tả công việc</label>
            <textarea class="form-control fix" rows="4" style="resize: vertical" id="description"></textarea>
        </div>
    </div>
    
</div>