<div class="note note-success">
    <h4><b>Hành động</b></h4>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Tên hoạt động
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Hình thức
                        </th>
                        <th>
                            Tự đánh giá
                        </th>
                        <th>
                            BCH đánh giá
                        </th>
                        <th>
                            Chọn
                        </th>
                        <th>
                            Ghi chú
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Hoạt động hành động A
                        </td>
                        <td>
                        </td>
                        <td>
                            Ban tổ chức
                        </td>
                        <td>
                        	<select name="tudanhgia[]">
								  <option value="10">10</option>
								  <option value="9">9</option>
								  <option value="8">8</option>
								  <option value="7">7</option>
								  <option value="6">6</option>
								  <option value="5">5</option>
								  <option value="4">4</option>
								  <option value="3">3</option>
								  <option value="2">2</option>
								  <option value="1">1</option>
								  <option value="0">0</option>
								  <option value="-1" selected>Chưa chọn</option>
							</select>
                           
                        </td>
                        <td>
                            
                            <!--<select name="btcdanhgia[]">
								  <option value="10">10</option>
								  <option value="9">9</option>
								  <option value="8">8</option>
								  <option value="7">7</option>
								  <option value="6">6</option>
								  <option value="5">5</option>
								  <option value="4">4</option>
								  <option value="3">3</option>
								  <option value="2">2</option>
								  <option value="1">1</option>
								  <option value="0">0</option>
								  <option value="-1" selected>Chưa chọn</option>
								</select> -->
                            9
                        </td>
                        <td>
                        	<input type="checkbox" name="chon[]" />
                        </td>
                        <td>
                            Làm rất chăm chỉ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Hoạt động hành động B
                        </td>
                        <td>
                        </td>
                        <td>
                            Cộng tác viên
                        </td>
                        
                        <td>
                            <select name="tudanhgia[]">
								  <option value="10">10</option>
								  <option value="9">9</option>
								  <option value="8">8</option>
								  <option value="7">7</option>
								  <option value="6">6</option>
								  <option value="5">5</option>
								  <option value="4">4</option>
								  <option value="3">3</option>
								  <option value="2">2</option>
								  <option value="1">1</option>
								  <option value="0">0</option>
								  <option value="-1" selected>Chưa chọn</option>
							</select>
                        </td>
                        <td>
                            <!--<select name="btcdanhgia[]">
								  <option value="10">10</option>
								  <option value="9">9</option>
								  <option value="8">8</option>
								  <option value="7">7</option>
								  <option value="6">6</option>
								  <option value="5">5</option>
								  <option value="4">4</option>
								  <option value="3">3</option>
								  <option value="2">2</option>
								  <option value="1">1</option>
								  <option value="0">0</option>
								  <option value="-1" selected>Chưa chọn</option>
								</select> -->
                            7
                        </td>
                        <td>
                        	<input type="checkbox" name="chon[]" />
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Hoạt động hành động C
                        </td>
                        <td>
                        </td>
                        <td>
                            Thành viên
                        </td>
                        <td>
                             <select name="tudanhgia[]">
								  <option value="10">10</option>
								  <option value="9">9</option>
								  <option value="8">8</option>
								  <option value="7">7</option>
								  <option value="6">6</option>
								  <option value="5">5</option>
								  <option value="4">4</option>
								  <option value="3">3</option>
								  <option value="2">2</option>
								  <option value="1">1</option>
								  <option value="0">0</option>
								  <option value="-1" selected>Chưa chọn</option>
							</select>
                        </td>
                        <td>
                            <!-- <select name="btcdanhgia[]">
								  <option value="10">10</option>
								  <option value="9">9</option>
								  <option value="8">8</option>
								  <option value="7">7</option>
								  <option value="6">6</option>
								  <option value="5">5</option>
								  <option value="4">4</option>
								  <option value="3">3</option>
								  <option value="2">2</option>
								  <option value="1">1</option>
								  <option value="0">0</option>
								  <option value="-1" selected>Chưa chọn</option>
								</select> -->
                            7
                        </td>
                        <td>
                        	<input type="checkbox" name="chon[]" />
                        </td>
						<td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>