<div class="table-scrollable">
    <table class="table table-striped table-hover table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th  style="text-align: center;">
                    Tự đánh giá
                </th>
                <th  style="text-align: center;">
                    BCH đánh giá
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Điểm nhận thức
                </td>
                <td>
                    9.0
                </td>
                <td>
                    8.3
                </td>
           
            </tr>
            <tr>
                <td>
                    Điểm hành động
                </td>
                <td>
                    8.0
                </td>
                <td>
                    7.5
                </td>
               
            </tr>
            <tr>
                <td>
                    Việc làm thiết thực
                </td>
                <td>
                    Đạt
                </td>
                <td>
                    Đạt
                </td>
            </tr>
            <tr>
                <td>
                    Kết quả RLĐV
                </td>
                <td>
                    <!--<select name="ketqua_rldv_tudanhgia">
						  <option value="3" selected>Tốt</option>
						  <option value="2">Khá</option>
						  <option value="1">Hoàn thành</option>
						  <option value="0">Không hoàn thành</option>
					</select> -->
					Tốt
                </td>
                <td>
                	<!--<select name="ketqua_rldv_bch">
						  <option value="3">Tốt</option>
						  <option value="2" selected>Khá</option>
						  <option value="1">Hoàn thành</option>
						  <option value="0">Không hoàn thành</option>
					</select>-->
					Khá
                </td>     
            </tr>
            <tr>
                <td>
                    Xếp loại Đoàn viên
                </td>
                <td>
                    <!-- <select name="xeploaidoanvien_rldv_tudanhgia">
						  <option value="3">Xuất sắc</option>
						  <option value="2">Tốt</option>
						  <option value="1">Khá</option>
						  <option value="0">Trung bình</option>
						  <option value="-1" selected>Chưa chọn</option>
					</select> -->
					Tốt
                </td>
                <td>
                    <!-- <select name="xeploaidoanvien_tudanhgia_bch">
						  <option value="3">Xuất sắc</option>
						  <option value="2">Tốt</option>
						  <option value="1">Khá</option>
						  <option value="0" selected>Trung bình</option>
						  <option value="-1" disabled selected>Xếp loại</option>
					</select> -->
                    Trung bình

                </td>
            </tr>
            
        </tbody>
    </table>

</div>
<p style="color:red; ">
    	<i>Ghi chú: Chưa đóng đoàn phí</i>
</p>