{% extends 'v1/organization/organization_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/jstree/dist/themes/default/style.min.css" %}"/>
{% endblock %}

{% block page_level_plugins_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/global/plugins/jstree/dist/jstree.min.js" %}"></script>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/tree.js" %}"></script>
{% endblock %}

{% block init_scripts %}
	Tree.init();
{% endblock %}



{% block tab_content %}
{% include 'v1/organization/organization_tree.html' %}				
{% endblock %}