{% extends 'v1/organization/organization_profile_base.html' %}

{% load staticfiles %}

{% block tab_content %}
<div class="tab-pane active">
	<div class="row">
		<div class="col-md-8">
			<div class="row static-info">
				<div class="col-md-3 name">
					Loại tổ chức:
				</div>
				<div class="col-md-5 value">
					{{ object.organization_type }}
				</div>
			</div>
			<div class="row static-info">
				<div class="col-md-3 name">
					Tổ chức quản lý:
				</div>
				<div class="col-md-5 value">
					{{ object.manager_organization }}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

