{% extends 'v1/organization/base.html' %}

{% load staticfiles %}

{% block tab_content %}
<div class="col-md-3">
	<ul class="ver-inline-menu tabbable margin-bottom-10">
		<li class="{% block list_active %}{% endblock %}">
			<a href="{% url 'organization_member_list_view_v1' organization_id %}">
				<i class="fa fa-cog"></i> Danh sách thành viên
			</a>
		</li>
		{% if can_set_list %}
		<li class="{% block import_active %}{% endblock %}">
			<a href="{% url 'organization_member_import_view_v1' organization_id %}">
				<i class="fa fa-lock"></i> Nhập danh sách
			</a>
		</li>
		{% endif %}
		<li>
			<a>
				<i class="fa fa-lock"></i> Xuất danh sách
			</a>
		</li>
		<li>
			<a>
				<i class="fa fa-lock"></i> Thống kê
			</a>
		</li>
	</ul>
</div>
<div class="col-md-9">
	<div class="tab-content">
		<div class="tab-pane active">
			{% block member_tab_content %}

			{% endblock %}
		</div>
	</div>
</div>				
{% endblock %}