<html>
<body>
	{% if confirm_form %}
		<form action="{% url process_import %}" method="POST">
			{% csrf_token %}
			{{ confirm_form.as_p }}
			<p>
				Below is a preview of data to be imported. If you are satisfied with the results, click 'Confirm import'
			</p>
			<div >
				<input type="submit" name="confirm" value="Confirm import">
			</div>
		</form>
	{% else %}
		<form action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" enctype="multipart/form-data">
			{% csrf_token %}
			<p>
				Dữ liệu nhập vào gồm các thông tin:
				{% for f in fields  %}
				{% if forloop.counter0 %},&nbsp{% endif %}
				<tt>{{ f }}</tt>
				{% endfor %}
			</p>

			<fieldset>
			{% for field in form %}
				<div>
					{{ field.errors }}
					{{ field.label_tag }}
					{{ field }}
				{% if field.field.help_text %}
					<p>{{ field.field.help_text|safe }}</p>
				{% endif %}
				</div>
			{% endfor %}
			</fieldset>

			<div>
				<input type="submit"  value="Submit">
			</div>
		</form>
	{% endif %}

	{% if result %}
		{% if result.has_errors %}
		<h2>Errors</h2>
		<ul>
			{% for error in result.base_errors  %}
			<li>{{ error.error }}</li>
			{% endfor %}
			{% for line, errors in result.row_errors %}
				{% for error in errors %}
			<li>
				Line number: {{ line }} - {{ error.error }}
				<div >{{ error.traceback|linebreaks }}</div>
			</li>
				{% endfor %}
			{% endfor %}
		</ul>
		{% else %}
		<h2>
			Preview
		</h2>
		<table>
			<thead>
			<tr>
				<th></th>
				{% for field in fields %}
				<th>{{ field }}</th>
				{% endfor %}
			</tr>
			</thead>
				{% for row in result.rows %}
				<tr>
					<td>
					{% if row.import_type == 'new' %}
					New
					{% elif row.import_type == 'skip' %}
					Skipped
					{% elif row.import_type == 'delete' %}
					Delete
					{% elif row.import_type == 'update' %}
					Update
					{% endif %}
					</td>
					{% for field in row.diff %}
					<td>
					{{ field }}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
		</table>
		{% endif %}
	{% endif %}
</body>
</html>