{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/select2/select2.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" %}"/>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/table.js" %}"></script>
{% endblock %}

{% block page_level_plugins_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "v1/assets/global/plugins/select2/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" %}"></script>
{% endblock %}

{% block init_scripts %}
		Table.init();
{% endblock %}

{% block page_content %}

<div class="row">
	<div class="col-md-12">
		{% if messages %}
			{% for message in messages %}
				<div class="Metronic-alerts alert alert-success fade in">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<form method="post">
			{% csrf_token %}
			<div class="portlet">
				<div class="portlet-title">
					<div class="actions">
						{% if can_set_list %}
						<a href="{{ add_link }}" class="btn btn-default btn-sm">
							<i class="fa fa-plus"></i> Thêm
						</a>
						{% endif %}
						<div class="btn-group">
							<a class="btn btn-default btn-sm" data-toggle="dropdown">
							<i class="fa fa-cogs"></i> Công cụ <i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu pull-right">
								{% if can_set_list %}
								<li>
									<a href="#">
									<i class="fa fa-trash-o"></i> Xóa </a>
								</li>
								<li>
									<a href="#">
									<i class="fa fa-ban"></i> Khóa </a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="{{ import_link }}">
									<i class="icon-login"></i> Nhập danh sách</a>
								</li>
								{% endif %}
								<li>
									<a href="{{ export_link }}">
									<i class="icon-logout"></i> Xuất danh sách</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-hover table-bordered" id="table">
						<thead>
							<tr>
								{% if can_set_list %}
								<th class="table-checkbox" width="2%">
									<input type="checkbox" class="group-checkable" data-set="#table .checkboxes"/>
								</th>
								{% endif %}
								{% for thead in theads %}
								<th width="{{ thead.size }}">
									{{ thead.name }}
								</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for object in object_list  %}
							<tr class="odd gradeX">
								{% for value in object %}
								<td>{{ value }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>

				{% include 'v1/pagination.html' %}
				</div>
			</div>			
			<input type="submit">
		</form>
	</div>
</div>
{% endblock %}