{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/select2/select2.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" %}"/>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/table-managed.js" %}"></script>
{% endblock %}

{% block page_level_plugins_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "v1/assets/global/plugins/select2/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" %}"></script>
{% endblock %}

{% block init_scripts %}
		TableManaged.init();
{% endblock %}

{% block page_content %}

<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				<div class="actions">
					<a href="#" class="btn default yellow-stripe">
						<i class="fa fa-plus"></i>
						<span class="hidden-480">Thêm</span>
					</a>
					<a href="#" class="btn default yellow-stripe">
						<i class="icon-login"></i>
						<span class="hidden-480">Nhập</span>
					</a>
					<a href="#" class="btn default yellow-stripe">
						<i class="icon-logout"></i>
						<span class="hidden-480">Xuất</span>
					</a>
				</div>
				<div class="actions">
					<a href="#" class="btn btn-default btn-sm">
					<i class="fa fa-pencil"></i> Add </a>
					<div class="btn-group">
						<a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
						<i class="fa fa-cogs"></i> Tools <i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">
								<i class="fa fa-pencil"></i> Edit </a>
							</li>
							<li>
								<a href="#">
								<i class="fa fa-trash-o"></i> Delete </a>
							</li>
							<li>
								<a href="#">
								<i class="fa fa-ban"></i> Ban </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#">
								<i class="i"></i> Make admin </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-hover table-advance" id="table">
				<thead>
					<tr>
						<th class="table-checkbox" width="2%">
							<input type="checkbox" class="group-checkable" data-set="#table .checkboxes"/>
						</th>
						{% for thead in theads %}
						<th width="{{ thead.size }}">
							{{ thead.name }}
						</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for object in object_list  %}
					<tr class="odd gradeX">
						<td>
							<input type="checkbox" class="checkboxes" value="1"/>
						</td>
						{% for value in object %}
						<td>{{ value }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>

			{% include 'v1/pagination.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}