{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/select2/select2.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/bootstrap-datepicker/css/datepicker.css" %}"/>
{% endblock %}

{% block page_content %}

<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>Danh sách tài khoản
				</div>
				<div class="actions">
					<a href="#" class="btn default yellow-stripe">
						<i class="fa fa-plus"></i>
						<span class="hidden-480">Thêm</span>
					</a>
					<a href="#" class="btn default yellow-stripe">
						<i class="icon-login"></i>
						<span class="hidden-480">Nhập</span>
					</a>
					<a href="#" class="btn default yellow-stripe">
						<i class="icon-logout"></i>
						<span class="hidden-480">Xuất</span>
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					
					<div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
						<div class="row">
							<div class="col-md-8 col-sm-12">
								<div class="dataTables_paginate paging_bootstrap_extended" id="datatable_orders_paginate">
									<div class="pagination-panel"> Trang <a href="#" class="btn btn-sm default prev disabled" title="Prev"><i class="fa fa-angle-left"></i></a><input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;"><a href="#" class="btn btn-sm default next disabled" title="Next"><i class="fa fa-angle-right"></i></a> trong <span class="pagination-panel-total"></span>
									</div>
								</div>
								<div class="dataTables_length" id="datatable_orders_length"><label><span class="seperator">|</span>View <select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xsmall input-sm input-inline"><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="150">150</option><option value="-1">All</option></select> records</label>
								</div>
								<div class="dataTables_info" id="datatable_orders_info" role="status" aria-live="polite">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="table-group-actions pull-right">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Chọn...</option>
							<option value="Lock">Khóa</option>
							<option value="Delete">Xóa</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
					</div></div></div><div class="table-scrollable"><table class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_orders" aria-describedby="datatable_orders_info" role="grid">
					<thead>
					<tr role="row" class="heading">
						<th width="2%" class="sorting_disabled" rowspan="1" colspan="1">
						<div class="checker"><span><input type="checkbox" class="group-checkable"></span></div>
						</th>
						{% for thead in theads %}
						<th width="{{thead.size}}" tabindex="0" rowspan="1" colspan="1">
							<div>{{ thead.name }}</div>
						</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>s
						{% for object in object_list  %}
						<tr>
							<td>
								<div class="checker"><span><input type="checkbox" class="group-checkable"></span></div>
								<!-- <input class="action-select" name="_selected_action" type="checkbox" value="{{ object.row }}"> -->
							</td>
							{% for value in object %}
							<td>{{ value }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-12">
						<div class="dataTables_paginate paging_bootstrap_extended">
							<div class="pagination-panel"> Page
								<a href="#" class="btn btn-sm default prev disabled" title="Prev">
									<i class="fa fa-angle-left"></i>
								</a>
								<input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;">
								<a href="#" class="btn btn-sm default next disabled" title="Next">
									<i class="fa fa-angle-right"></i>
								</a> of
								<span class="pagination-panel-total"></span>
							</div>
						</div>
						<div class="dataTables_length">
							<label>
								<span class="seperator">|
								</span>View 
								<select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xsmall input-sm input-inline"><option value="20">20</option>
									<option value="50">50</option>
									<option value="100">100</option>
									<option value="150">150</option>
									<option value="-1">All</option></select> records</label>
								</div><div class="dataTables_info"></div></div><div class="col-md-4 col-sm-12"></div></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}