{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/jstree/dist/themes/default/style.min.css" %}"/>
{% endblock %}

{% block page_level_plugins_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/global/plugins/jstree/dist/jstree.min.js" %}"></script>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/ui-tree.js" %}"></script>
{% endblock %}

{% block init_scripts %}
	UITree.init();
{% endblock %}

{% block page_content %}
<!-- <div id="tree_1" class="tree-demo">
	<ul>
		<li>
			 Root node 1
			<ul>
				<li data-jstree='{ "selected" : true }'>
					<a href="#">
					Initially selected </a>
				</li>
				<li data-jstree='{ "icon" : "fa fa-briefcase icon-state-success " }'>
					 custom icon URL
				</li>
				<li data-jstree='{ "opened" : true }'>
					 initially open
					<ul>
						<li data-jstree='{ "disabled" : true }'>
							 Disabled Node
						</li>
						<li data-jstree='{ "type" : "file" }'>
							 Another node
						</li>
					</ul>
				</li>
				<li data-jstree='{ "icon" : "fa fa-warning icon-state-danger" }'>
					 Custom icon class (bootstrap)
				</li>
			</ul>
		</li>
		<li data-jstree='{ "type" : "file" }'>
			<a href="http://www.jstree.com">
			Clickanle link node </a>
		</li>
	</ul>
</div>
 -->
<div id="tree_1" class="tree-demo">
{{ html_content }}
</div>

{% endblock %}