{% extends 'v1/base.html' %}

{% load staticfiles %}

{% block other_scripts %}
<script>
	jQuery(document).ready(function() {    
		Metronic.init(); // init metronic core components
		Layout.init(); // init current layout
		QuickSidebar.init() // init quick sidebar
		{% block init_scripts %}

		{% endblock %}
	});
</script>
{% endblock %}

{% block body %}
<body class="page-header-fixed page-quick-sidebar-over-content">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="index.html">
			<img src="{% static "v1/assets/admin/layout/img/logo.png" %}" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler hide">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				
				<!-- END NOTIFICATION DROPDOWN -->
				
				<!-- BEGIN INBOX DROPDOWN -->
				
				<!-- END INBOX DROPDOWN -->
				
				<!-- BEGIN TODO DROPDOWN -->
				
				<!-- END TODO DROPDOWN -->

				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user">
					<div class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="{% static "v1/assets/admin/layout/img/avatar3_small.jpg" %}"/>
						<span class="username">
							{{ request.session.user_full_name }}
						</span>
						<i class="fa fa-angle-down"></i>
					</div>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'user_profile_view_v1' %}">
							<i class="icon-user"></i> Thông tin cá nhân </a>
						</li>
						<li>
							<a href="{% url 'user_profile_update_view_v1' %}">
							<i class="fa fa-cogs"></i> Thiết lập tài khoản </a>
						</li>
						<!-- <li>
							<a href="inbox.html">
							<i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
							3 </span>
							</a>
						</li>
						<li>
							<a href="#">
							<i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
							7 </span>
							</a>
						</li> -->
						<li class="divider">
						</li>
						<!-- <li>
							<a href="extra_lock.html">
							<i class="icon-lock"></i> Lock Screen </a>
						</li> -->
						<li>
							<a href="/logout/">
							<i class="icon-key"></i> Đăng xuất </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->

				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
				
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>
				<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
				<li class="sidebar-search-wrapper hidden-xs">
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
					<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
					<!-- <form class="sidebar-search" action="extra_search.html" method="POST">
						<a href="javascript:;" class="remove">
						<i class="icon-close"></i>
						</a>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search...">
							<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
						</div>
					</form> -->
					<div class="sidebar-search">
					</div>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start {{ dashboard_active }} ">
					<a href="/">
						<i class="icon-home"></i>
						<span class="title">Trang chủ</span>
						<span class="selected"></span>
					</a>
				</li>

				<li class="{{ user_active }} ">
					<a>
						<i class="icon-user"></i>
						<span class="title">Quản lý tài khoản</span>
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{ user_list_active }}">
							<a href="/user/list/">
							<i class="icon-user"></i>
							Danh sách tài khoản</a>
						</li>
						<li class="{{ user_search_active }}">
							<a href="/user/search/">
							<i class="fa fa-search"></i>
							Tìm kiếm</a>
						</li>
						<li class="{{ profile_active }}">
							<a href="/user/{{ request.session.user_id }}/">
							<i class="icon-user"></i>
							Thông tin cá nhân</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript:;">
					<i class="icon-basket"></i>
					<span class="title">Quản lý tổ chức</span>
					<span class=""></span>
					</a>
				</li>

				<li class="{{ activity_active }}">
					<a>
					<i class="icon-basket"></i>
					<span class="title">Quản lý hoạt động</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li class="{{ activity_list_active }}">
							<a href="/activity/list/">
							<i class="icon-user"></i>
								Danh sách hoạt động
							</a>
						</li>
						<li class="">
							<a href="">
							<i class="fa fa-search"></i>
								Hoạt động của tôi
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript:;">
					<i class="icon-basket"></i>
					<span class="title">Rèn luyện Đoàn viên</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="ecommerce_index.html">
							<i class="icon-home"></i>
							Đăng ký</a>
						</li>
						<li>
							<a href="ecommerce_orders.html">
							<i class="icon-basket"></i>
							Kết quả đăng ký</a>
						</li>
						<li>
							<a href="ecommerce_orders_view.html">
							<i class="icon-tag"></i>
							Lịch sử đăng ký</a>
						</li>
						<li>
							<a href="ecommerce_products.html">
							<i class="icon-handbag"></i>
							Tự đánh giá</a>
						</li>
						<li>
							<a href="ecommerce_products_edit.html">
							<i class="icon-pencil"></i>
							Kết quả đánh giá</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript:;">
					<i class="icon-basket"></i>
					<span class="title">Rèn luyện Hội viên</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="ecommerce_index.html">
							<i class="icon-home"></i>
							Đăng ký</a>
						</li>
						<li>
							<a href="ecommerce_orders.html">
							<i class="icon-basket"></i>
							Kết quả đăng ký</a>
						</li>
						<li>
							<a href="ecommerce_orders_view.html">
							<i class="icon-tag"></i>
							Lịch sử đăng ký</a>
						</li>
						<li>
							<a href="ecommerce_products.html">
							<i class="icon-handbag"></i>
							Tự đánh giá</a>
						</li>
						<li>
							<a href="ecommerce_products_edit.html">
							<i class="icon-pencil"></i>
							Kết quả đánh giá</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN STYLE CUSTOMIZER -->
			<div class="theme-panel hidden-xs hidden-sm">
				<div class="toggler">
				</div>
				<div class="toggler-close">
				</div>
				<div class="theme-options">
					<div class="theme-option theme-colors clearfix">
						<span>
						THEME COLOR </span>
						<ul>
							<li class="color-default current tooltips" data-style="default" data-original-title="Default">
							</li>
							<li class="color-darkblue tooltips" data-style="darkblue" data-original-title="Dark Blue">
							</li>
							<li class="color-blue tooltips" data-style="blue" data-original-title="Blue">
							</li>
							<li class="color-grey tooltips" data-style="grey" data-original-title="Grey">
							</li>
							<li class="color-light tooltips" data-style="light" data-original-title="Light">
							</li>
							<li class="color-light2 tooltips" data-style="light2" data-html="true" data-original-title="Light 2">
							</li>
						</ul>
					</div>
					<div class="theme-option">
						<span>
						Layout </span>
						<select class="layout-option form-control input-small">
							<option value="fluid" selected="selected">Fluid</option>
							<option value="boxed">Boxed</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
						Header </span>
						<select class="page-header-option form-control input-small">
							<option value="fixed" selected="selected">Fixed</option>
							<option value="default">Default</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
						Sidebar </span>
						<select class="sidebar-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
						Sidebar Position </span>
						<select class="sidebar-pos-option form-control input-small">
							<option value="left" selected="selected">Trái</option>
							<option value="right">Phải</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
						Footer </span>
						<select class="page-footer-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
				</div>
			</div>
			<!-- END STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
						{% block page_title %}
							{{ page_title }}	
						{% endblock %}
						<small>{{ small_page_title }}</small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="/">Trang chủ</a>
							<i class="fa fa-angle-right"></i>
						</li>
						{{ page_breadcrumb }}
						<!-- <li>
							<a href="#">Bảng điều khiển</a>
						</li> -->
						<!-- <li class="pull-right">
							<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
								<i class="icon-calendar"></i>
								<span></span>
								<i class="fa fa-angle-down"></i>
							</div>
						</li> -->
						<li class="btn-group">
						{% block breadcrumb_button_group %}

						{% endblock %}
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->	

			<!-- BEGIN PAGE CONTENT -->
			{% block page_content %}

			{% endblock %}
			<!-- END PAGE CONTENT -->
		</div>
	</div>
	<!-- END CONTENT -->
	<!-- BEGIN QUICK SIDEBAR -->

	<!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		&copy; 2015 Trường Đại học Khoa học Tự nhiên TP Hồ Chí Minh
	</div>
	<div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
{% endblock %}