{% extends 'v1/user/profile/base.html' %}

{% block activity_active %}
active
{% endblock %}

{% load staticfiles %}

{% block page_level_styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/bootstrap-datepicker/css/datepicker.css" %}"/>
	<link href="{% static "v1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "v1/assets/admin/pages/css/profile.css" %}" rel="stylesheet" type="text/css"/>

	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/select2/select2.css" %}"/>

{% endblock %}


{% block page_level_plugins_scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/flot/jquery.flot.min.js" %}"></script>
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/flot/jquery.flot.resize.min.js" %}"></script>
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/flot/jquery.flot.pie.min.js" %}"></script>
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/flot/jquery.flot.stack.min.js" %}"></script>
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/flot/jquery.flot.crosshair.min.js" %}"></script>
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/flot/jquery.flot.categories.min.js" %}"></script>
{% endblock %}


{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/date-picker.js" %}"></script>
{% endblock %}

{% block init_scripts %}
	DatePicker.init();
{% endblock %}


{% block other_scripts %}
{{ block.super }}
<script type="text/javascript">

	// var data1 = [
	// 	[1, 2], [2, 3], [3, 1], [4, 2], [5, 4]
	// ];

	// var options = {
	// 	series:{
	// 		bars:{show: true}
	// 	},
	// 	bars:{
	// 		horizontal:false,
	// 		barWidth:1,
	// 		lineWidth: 0, // in pixels
	// 		shadowSize: 0,
	// 		align: 'left'
	// 	},
	// 	grid:{
	// 		tickColor: "#eee",
	// 		borderColor: "#eee",
	// 		borderWidth: 1
	// 	}
	// };

	// $.plot($("#chart_1_2"), [data1], options);
</script>
{% endblock %}

{% block tab_content %}
<!-- <div class="row">
	<form role="form" method="post">
		<div class="form-group col-md-3">
			{% csrf_token %}
			<label class="control-label">Năm học:</label>
			<select>
				{% for obj in form.period %}
				<option value="{{ obj.idenitfy }}">{{ obj.name }}</option>
				{% endfor %}
		    </select>
		</div>
		<input type="submit" value="submit">
	</form>
</div> -->
<div class="row">
	<div class="col-md-12">
		<!-- <div class="portlet box blue-steel">
			<div class="portlet-title">
				<div class="caption">
					Thống kê hoạt động đã tham gia
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="form-group col-md-12">
						<div id="chart_1_2" class="chart">
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="portlet box blue-steel">
			<div class="portlet-title">
				<div class="caption">
					Danh sách hoạt động đã tham gia
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-12">
						{% include 'v1/static_modules/list.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}