{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block breadcrumb_button_group %}
	{% if request.session.super_user %}
	<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
		<span>Công cụ</span><i class="fa fa-angle-down"></i>
	</button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li>
			<a href="{% url 'user_update_view_v1' identify %}">
				<i class="fa fa-pencil"></i> Thay đổi thông tin
			</a>
		</li>
		<li>
			<a href="{% url 'user_password_change_view_v1' identify %}">
				<i class="fa fa-pencil"></i> Đặt lại mật khẩu
			</a>
		</li>
	</ul>
	{% endif %}
{% endblock %}

{% block page_content %}
<div class="row profile">
	<div class="col-md-12">
		<!--BEGIN TABS-->
		<div class="tabbable tabbable-custom tabbable-full-width">
			<ul class="nav nav-tabs">
				<li class="{% block overview_active %}{% endblock %}">
					<a href="{% url 'user_detail_view_v1' identify %}">
					Tổng quan </a>
				</li>
				<li class="{% block activity_active %}{% endblock %}">
					<a href="{% url 'user_activity_view_v1' identify %}">
					Hoạt động </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
				{% block tab_content %}
				
				{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

