{% extends 'v1/activity/profile/base.html' %}


{% block page_breadcrumb %}
{{ block.super }}
<li>
	<a>Tổng quan</a>
</li>
{% endblock %}



{% block overview_active %}active{% endblock %}

{% block tab_content %}
<div class="row">
	<div class="col-md-6">
		<div class="portlet box blue-steel">
			<div class="portlet-title">
				<div class="caption">
					Thông tin chung
				</div>
			</div>
			<div class="portlet-body">
				<div class="form-horizontal form-bordered">
					<div class="form-body">
						<div class="form-group">
							<div class="col-md-4">
								<label>Loại hoạt động</label>
							</div>
							<div class="col-md-8">
								{{ object.activity_type }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label>Thời gian bắt đầu</label>
							</div>
							<div class="col-md-8">
								{{ object.start_time }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label>Thời gian kết thúc</label>
							</div>
							<div class="col-md-8">
								{{ object.end_time }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label>Địa điểm</label>
							</div>
							<div class="col-md-8">
								{{ object.location }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label>Tổ chức quản lý</label>
							</div>
							<div class="col-md-8">
								{{ management_organization }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="portlet box blue-steel">
			<div class="portlet-title">
				<div class="caption">
					Đăng ký
				</div>
			</div>
			<div class="portlet-body">
				<div class="form-horizontal form-bordered">
					<form method="post">
						{% csrf_token %}
						<div class="form-body">
							<div class="form-group">
								<div class="col-md-4">
									<label>Thời gian bắt đầu</label>
								</div>
								<div class="col-md-8">
									{{ object.register_start_time }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-4">
									<label>Thời gian kết thúc</label>
								</div>
								<div class="col-md-8">
									{{  object.register_end_time  }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-4">
									
								</div>
								<div class="col-md-8">
									{{ state }}
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="portlet box blue-steel">
			<div class="portlet-title">
				<div class="caption">
					Ban tổ chức
				</div>
			</div>
			<div class="portlet-body">
				<div class="form-horizontal form-bordered">
					<div class="form-body">
						<div class="tab-content">
								{% for obj in staff_list %}
								<div class="form-group">
									<div class="col-md-4">
										{{ obj.position }}
									</div>
									<div class="col-md-8">
										<label>{{ obj.name }}</label>
									</div>
								</div>
								{% endfor %}								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="portlet box blue-steel">
			<div class="portlet-title">
				<div class="caption">
					Mô tả
				</div>
			</div>
			<div class="portlet-body">
				<div class="form-horizontal form-bordered">
					<div class="form-body">
						{{ description }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}