{% extends 'v1/user/profile/base.html' %}

{% block activity_active %}
active
{% endblock %}

{% block tab_content %}
<div class="col-md-3">
	<ul class="ver-inline-menu tabbable margin-bottom-10">
		<li class="{% block list_active %}{% endblock %}">
			<a href="{% url 'organization_activity_list_view_v1' identify %}">
				<i class="fa fa-cog"></i> Danh sách hoạt động
			</a>
		</li>
		<li>
			<a>
				<i class="fa fa-lock"></i> Thống kê
			</a>
		</li>
	</ul>
</div>
<div class="col-md-9">
	<div class="tab-content">
		<div class="tab-pane active">
			{% block activity_tab_content %}

			{% endblock %}
		</div>
	</div>
</div>				
{% endblock %}