{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block breadcrumb_button_group %}
	{% if organization_administrator %}
	<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
		<span>Công cụ</span><i class="fa fa-angle-down"></i>
	</button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li>
			<a href="{% url 'organization_update_view_v1' organization_id %}">
				<i class="fa fa-pencil"></i> Thay đổi thông tin
			</a>
		</li>
	</ul>
	{% endif %}
{% endblock %}

{% block page_content %}
<div class="row profile">
	<div class="col-md-12">
		<!--BEGIN TABS-->
		<div class="tabbable tabbable-custom tabbable-full-width">
			<ul class="nav nav-tabs">
				<li class="{{ overview_active }}">
					<a href="{% url 'organization_detail_view_v1' organization_id %}">
					Tổng quan </a>
				</li>
				<li class="{{ activities_active }}">
					<a href="{% url 'organization_activity_list_view_v1' organization_id %}">
					Các hoạt động </a>
				</li>
				{% if organization_manager %}
				<li class="{{ members_active }}">
					<a href="{% url 'organization_member_list_view_v1' organization_id %}">
					Các thành viên </a>
				</li>
				{% endif %}
				<li class="{{ organization_tree_active }}">
					<a href="{% url 'child_organization_tree_view_v1' organization_id %}">
					Các tổ chức trực thuộc </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
					{% block tab_content %}
					
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

