{% extends 'v1/user/user_update_base.html' %}

{% load staticfiles %}

{% load addclass_filter %}

{% block page_title %}
Đặt lại mật khẩu
{% endblock %}

{% block change_password_active %}
active
{% endblock %}

{% block change_profile_link %}
{% url 'user_profile_update_view_v1' %}
{% endblock %}

{% block tab_content %}
<div class="tab-pane active">
	<label>Đặt lại mật khẩu thành công.</label>
	<div class="margin-top-10">
		<a class="btn green" href="{% url 'user_change_password_v1' %}"><i class="fa fa-arrow-circle-o-left"></i> Quay lại</a>
	</div>
</div>
{% endblock %}
