{% extends 'v1/user/user_update_base.html' %}

{% load staticfiles %}

{% block page_title %}
Đặt lại mật khẩu
{% endblock %}

{% block change_password_active %}
active
{% endblock %}

{% block change_profile_link %}
/user/{{ object.id }}/edit/
{% endblock %}

{% block tab_content %}
<div class="tab-pane active">
	<label>Đặt lại mật khẩu thành công.</label>
	<div class="margin-top-10">
		<a class="btn green" href="/user/{{ object.id }}/reset-password/"><i class="fa fa-arrow-circle-o-left"></i> Quay lại</a>
	</div>
</div>
{% endblock %}
