{% extends 'v1/user/user_update_base.html' %}

{% load staticfiles %}

{% block page_title %}
Đặt lại mật khẩu
{% endblock %}

{% block change_password_active %}
active
{% endblock %}

{% block change_profile_link %}
/user/{{ object.id }}/edit/
{% endblock %}

{% block tab_content %}
{% if messages %}
	{% for message in messages %}
		<div class="Metronic-alerts alert alert-success fade in">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}

<div class="tab-pane active">
	<label>Bạn có chắc muốn đặt lại mật khẩu của người dùng '{{ object.get_full_name }}'?</label>
	<form role="form" method="post">
		{% csrf_token %}
		<div class="margin-top-10">
			<input type="submit" class="btn green" data-loading-text="Đang lưu dữ liệu..." value="Đặt lại mật khẩu">
		</div>
	</form>
</div>
{% endblock %}
