{% extends 'v1/user/user_update_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/bootstrap-datepicker/css/datepicker.css" %}"/>
	<link href="{% static "v1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "v1/assets/admin/pages/css/profile.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_level_plugins_scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/date-picker.js" %}"></script>
{% endblock %}

{% block init_scripts %}
		DatePicker.init();
{% endblock %}

{% block change_profile_active %}
active
{% endblock %}

{% block change_password_link %}
{% url 'user_reset_password_view_v1' object.id %}
{% endblock %}

{% block tab_content %}
{% if messages %}
	{% for message in messages %}
		<div class="Metronic-alerts alert alert-success fade in">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}

<div class="tab-pane active">
	<form role="form" method="post">
		{% csrf_token %}
		{% include 'v1/user/editor.html' %}
		
		<div class="margin-top-10">
			<input type="submit" class="btn green" data-loading-text="Đang lưu dữ liệu..." value="Cập nhật">
		</div>
	</form>
</div>

{% endblock %}

