{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/select2/select2.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" %}"/>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/table.js" %}"></script>
{% endblock %}

{% block page_level_plugins_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "v1/assets/global/plugins/select2/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" %}"></script>
{% endblock %}

{% block init_scripts %}
		Table.init();
{% endblock %}

{% block page_content %}
<div class="row">
	<form method="post">
		{% csrf_token %}		
		<div class="col-md-12">
			<div class="portlet box blue-steel">
				<div class="portlet-title">
					<div class="caption">
						Các hoạt động về nhận thức
					</div>
				</div>
				<div class="portlet-body">
					<div class="form-horizontal form-bordered">
						<div class="form-body">
							<table class="table table-hover table-bordered" id="table">
								<thead>
									<tr>
										<th class="table-checkbox" width="2%">
											<input type="checkbox" class="group-checkable" data-set="#table .checkboxes"/>
										</th>
										<th>
											Tên hoạt động
										</th>
										<th>
											Thời gian tổ chức
										</th>
									</tr>
								</thead>
								<tbody>
									{% for obj in object_list  %}
										{% if obj.type == 0 %}
											<tr>
												<td><input type="checkbox" class="checkboxes" value="{{ obj.identify }}" name="list"></td>
												<td>
													<a href="/activity/activity={{ obj.identify }}">{{ obj.name }}</a>
													{% if obj.registered %}
													<span class="label label-sm label-success">Đã đăng ký</span>
													{% endif %}
												</td>
												<td>{{ obj.traning_type }}</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="portlet box blue-steel">
				<div class="portlet-title">
					<div class="caption">
						Các hoạt động về hành động
					</div>
				</div>
				<div class="portlet-body">
					<div class="form-horizontal form-bordered">
						<div class="form-body">
							<table class="table table-hover table-bordered" id="table">
								<thead>
									<tr>
										<th class="table-checkbox" width="2%">
											<input type="checkbox" class="group-checkable" data-set="#table .checkboxes"/>
										</th>
										<th>
											Tên hoạt động
										</th>
										<th>
											Thời gian tổ chức
										</th>
									</tr>
								</thead>
								<tbody>
									{% for obj in object_list  %}
										{% if obj.type == 1 %}
											<tr>
												<td><input type="checkbox" class="checkboxes" value="{{ obj.identify }}" name="list"></td>
												<td>
													<a href="/activity/activity={{ obj.identify }}">{{ obj.name }}</a>
													{% if obj.registered %}
													<span class="label label-sm label-success">Đã đăng ký</span>
													{% endif %}
												</td>
												<td></td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="submit" value="Đăng ký" name="submit">
		<input type="submit" value="Hủy Đăng ký" name="submit">
	</form>
</div>
{% endblock %}