{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/select2/select2.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" %}"/>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/table.js" %}"></script>
{% endblock %}

{% block page_level_plugins_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "v1/assets/global/plugins/select2/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "v1/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" %}"></script>
{% endblock %}

{% block init_scripts %}
		Table.init();
{% endblock %}

{% block page_content %}

<div class="row">
	<div class="col-md-12">
		{% include 'v1/static_modules/list.html' %}
	</div>
</div>
{% endblock %}