{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_level_styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "v1/assets/global/plugins/bootstrap-datepicker/css/datepicker.css" %}"/>
	<link href="{% static "v1/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "v1/assets/admin/pages/css/profile.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_level_plugins_scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "v1/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block page_level_scripts %}
{{ block.super }}
<script src="{% static "v1/assets/admin/pages/scripts/date-picker.js" %}"></script>
{% endblock %}

{% block init_scripts %}
		DatePicker.init();
{% endblock %}


{% block page_content %}
<div class="row">
	<div class="col-md-12">
		<form method="post">
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-md-6">
					<label class="control-label">Giai đoạn</label>
					{{ form.period }}
					{{ form.period.errors }}
				</div>
			</div>
			{% include 'v1/yumt/editor/editor.html' %}
		</form>
	</div>
</div>
{% endblock %}