{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_content %}
<div class="row profile">
	<div class="col-md-12">
		<!--BEGIN TABS-->
		<div class="tabbable tabbable-custom tabbable-full-width">

			<ul class="nav nav-tabs">
				<li class="{% block update_active %}{% endblock %}">
					<a href="{% url 'user_update_view_v1' identify %}">
					Thay đổi thông tin </a>
				</li>
			
				<li class="{% block change_password_active %}{% endblock %}">
					<a href="{% url 'user_password_change_view_v1' identify %}">
					Đặt lại mật khẩu </a>
				</li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active">
				{% block tab_content %}

				{% endblock %}
				</div>
			</div>
		</div>
		<!--END TABS-->
	</div>
</div>
{% endblock %}

