{% extends 'v1/user/editor/base.html' %}

{% load staticfiles %}

{% load addclass_filter %}

{% block change_password_active %}
active
{% endblock %}

{% block tab_content %}
{% if messages %}
	{% for message in messages %}
		<div class="Metronic-alerts alert alert-success fade in">
			{{ message }}
		</div>
	{% endfor %}
{% endif %}

<form method="post">
	{% csrf_token %}
	{% if account_owner %}
	<div class="form-group">
		<label class="control-label">Mật khẩu hiện tại</label>
		{{ form.old_password|addclass:'form-control' }}
		{{ form.old_password.errors }}
	</div>
	<div class="form-group">
		<label class="control-label">Mật khẩu mới</label>
		{{ form.new_password1|addclass:'form-control' }}
		{{ form.new_password1.errors }}
	</div>
	<div class="form-group">
		<label class="control-label">Xác nhận mật khẩu mới</label>
		{{ form.new_password2|addclass:'form-control' }}
		{{ form.new_password2.errors }}
	</div>
	{% else %}
	<label>Bạn có chắc muốn đặt lại mật khẩu?</label>
	{% endif %}
	<div class="margin-top-10">
		<input type="submit" id="btn-validate" class="btn green" value="Đặt lại mật khẩu">
	</div>
</form>
{% endblock %}

