{% load staticfiles %}

<form role="form" method="post">
	{% csrf_token %}
	<div class="row profile">
		<div class="col-md-3">
			<ul class="list-unstyled profile-nav">
				<li>
					<img src="{% static "v1/assets/admin/pages/media/profile/profile-img.png" %}" class="img-responsive" alt="">
					<a href="#" class="profile-edit">
					edit </a>
				</li>
				{% if create_user_active %}
				<li>
					<a href="#tab_0">Thông tin tài khoản</a>
				</li>
				{% endif %}
				<li>
					<a href="#tab_1">Thông tin chung</a>
				</li>
				<li>
					<a href="#tab_2">Thông tin chi tiết</a>
				</li>
				<li>
					<a href="#tab_3">Thông tin liên lạc với gia đình</a>
				</li>
				<li>
					<a href="#tab_4">Lưu thông tin</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="tab-content">
				<div class="tab-pane active">
					{% if create_user_active %}
					<div class="portlet box blue-steel" id="tab_0">
						<div class="portlet-title">
							<div class="caption">
								Thông tin tài khoản
							</div>
						</div>
						<div class="portlet-body">
							<div class="form-horizontal form-bordered">
								<div class="form-body">
									<div class="form-group">
										<div class="col-md-3">
											<label>Mã tài khoản</label>
										</div>
										<div class="col-md-9">
											{{ form.identify }}
											{{ form.identify.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Mật khẩu</label>
										</div>
										<div class="col-md-9">
											{{ form.password }}
											{{ form.password.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="portlet box blue-steel" id="tab_1">
						<div class="portlet-title">
							<div class="caption">
								Thông tin chung
							</div>
						</div>
						<div class="portlet-body">
							<div class="form-horizontal form-bordered">
								<div class="form-body">
									<div class="form-group">
										<div class="col-md-3">
											<label>Tên</label>
										</div>
										<div class="col-md-9">
											{{ form.first_name }}
											{{ form.first_name.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Họ và tên lót:</label>
										</div>
										<div class="col-md-9">
											{{ form.last_name }}
											{{ form.last_name.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Giới tính</label>
										</div>
										<div class="col-md-9">
											{{ form.gender }}
											{{ form.gender.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Ngày sinh</label>
										</div>
										<div class="col-md-9">
											<div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
												{{ form.date_of_birth }}
												<span class="input-group-btn">
													<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											{{ form.date_of_birth.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Nơi sinh</label>
										</div>
										<div class="col-md-9">
											{{ form.place_of_birth }}
											{{ form.place_of_birth.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Nơi sinh khác</label>
										</div>
										<div class="col-md-9">
											{{ form.other_place_of_birth }}
											{{ form.other_place_of_birth.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="portlet box blue-steel" id="tab_2">
						<div class="portlet-title">
							<div class="caption">
								Thông tin chi tiết
							</div>
						</div>
						<div class="portlet-body">
							<div class="form-horizontal form-bordered">
								<div class="form-body">
									<div class="form-group">
										<div class="col-md-3">
											<label>Số chứng minh nhân dân</label>
										</div>
										<div class="col-md-9">
											{{ form.identification_card_number }}
											{{ form.identification_card_number.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Ngày cấp</label>
										</div>
										<div class="col-md-9">
											<div class="input-group date date-picker" data-date-format="mm/dd/yyyy">
												{{ form.identification_card_provision_date }}
												<span class="input-group-btn">
													<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											{{ form.identification_card_provision_date.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Nơi cấp</label>
										</div>
										<div class="col-md-9">
											{{ form.identification_card_provision_place }}
											{{ form.identification_card_provision_place.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Quốc tịch</label>
										</div>
										<div class="col-md-9">
											{{ form.nationality }}
											{{ form.nationality.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Dân tộc</label>
										</div>
										<div class="col-md-9">
											{{ form.folk }}
											{{ form.folk.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Tôn giáo</label>
										</div>
										<div class="col-md-9">
											{{ form.religion }}
											{{ form.religion.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Địa chỉ thường trú</label>
										</div>
										<div class="col-md-9">
											{{ form.address }}
											{{ form.address.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Xã/Phường/Thị trấn</label>
										</div>
										<div class="col-md-9">
											{{ form.ward }}
											{{ form.ward.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Quận/Huyện</label>
										</div>
										<div class="col-md-9">
											{{ form.district }}
											{{ form.district.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Tỉnh/Thành phố</label>
										</div>
										<div class="col-md-9">
											{{ form.province }}
											{{ form.province.errors }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Địa chỉ tạm trú</label>
										</div>
										<div class="col-md-9">
											{{ form.temporary_address }}
											{{ form.temporary_address.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Điện thoại</label>
										</div>
										<div class="col-md-9">
											{{ form.home_phone }}
											{{ form.home_phone.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Điện thoại di động</label>
										</div>
										<div class="col-md-9">
											{{ form.mobile_phone }}
											{{ form.mobile_phone.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Thư điện tử</label>
										</div>
										<div class="col-md-9">
											{{ form.email }}
											{{ form.email.error }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="portlet box blue-steel" id="tab_3">
						<div class="portlet-title">
							<div class="caption">
								Thông tin liên lạc với gia đình
							</div>
						</div>
						<div class="portlet-body">
							<div class="form-horizontal form-bordered">
								<div class="form-body">
									<div class="form-group">
										<div class="col-md-3">
											<label>Họ và tên người liên lạc</label>
										</div>
										<div class="col-md-9">
											{{ form.contact_person_name }}
											{{ form.contact_person_name.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Địa chỉ</label>
										</div>
										<div class="col-md-9">
											{{ form.contact_person_address }}
											{{ form.contact_person_address.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Điện thoại</label>
										</div>
										<div class="col-md-9">
											{{ form.contact_person_phone }}
											{{ form.contact_person_phone.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Thư điện tử</label>
										</div>
										<div class="col-md-9">
											{{ form.contact_person_email }}
											{{ form.contact_person_email.error }}
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3">
											<label>Ghi chú</label>
										</div>
										<div class="col-md-9">
											{{ form.contact_person_note }}
											{{ form.contact_person_note.error }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tab_4">
						<div class="row">
							<div class="col-md-12">
								<input type="submit" class="btn green" value="{{ submit_value }}">
								<a class="btn default" href="{{ cancel_link }}">Hủy bỏ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>