{% extends 'v1/user/user_profile_base.html' %}

{% load staticfiles %}

{% block page_content %}

<div class="row">
	<div class="col-md-6 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box purple">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Tên hoạt động
				</div>
				<div class="actions">
					<input id="hoatdong1" type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>">
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:200px">
					<strong>Mô tả</strong><br/>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
				</div>
				<ul class="list-inline">
					<li>
						<i class="fa fa-map-marker"></i> Địa điểm
					</li>
					<li>
						<i class="fa fa-star"></i> Loại hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Tín chỉ hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Điểm rèn luyện
					</li>
				</ul>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-6 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box purple">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Tên hoạt động
				</div>
				<div class="actions">
					<input id="hoatdong2" type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>">
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:200px">
					<strong>Mô tả</strong><br/>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
				</div>
				<ul class="list-inline">
					<li>
						<i class="fa fa-map-marker"></i> Địa điểm
					</li>
					<li>
						<i class="fa fa-star"></i> Loại hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Tín chỉ hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Điểm rèn luyện
					</li>
				</ul>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-6 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box purple">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Tên hoạt động
				</div>
				<div class="actions">
					<input id="hoatdong3" type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>">
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:200px">
					<strong>Mô tả</strong><br/>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
				</div>
				<ul class="list-inline">
					<li>
						<i class="fa fa-map-marker"></i> Địa điểm
					</li>
					<li>
						<i class="fa fa-star"></i> Loại hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Tín chỉ hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Điểm rèn luyện
					</li>
				</ul>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-6 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box purple">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Tên hoạt động
				</div>
				<div class="actions">
					<input id="hoatdong4" type="checkbox" class="make-switch" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>">
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:200px">
					<strong>Mô tả</strong><br/>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
				</div>
				<ul class="list-inline">
					<li>
						<i class="fa fa-map-marker"></i> Địa điểm
					</li>
					<li>
						<i class="fa fa-star"></i> Loại hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Tín chỉ hoạt động
					</li>
					<li>
						<i class="fa fa-heart"></i> Điểm rèn luyện
					</li>
				</ul>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
</div>
<div class="row">
	<div class="form-actions fluid">
		<div class="col-md-offset-3 col-md-9">
			<button type="submit" class="btn blue">Đăng ký</button>
			<button type="button" class="btn default">Hủy</button>
		</div>
	</div>

</div>
{% endblock %}