{% extends 'v1/webapp_base.html' %}

{% load staticfiles %}

{% block page_content %}

<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i>Tìm kiếm nâng cao
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
			<a href="#portlet-config" data-toggle="modal" class="config">
			</a>
			<a href="javascript:;" class="reload">
			</a>
			<a href="javascript:;" class="remove">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form action="#" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">Họ tên</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Chức vụ</label>
					<div class="col-md-4">
						<select class="form-control" placeholder="Chức vụ">
							<option>Chọn chức vụ</option>
							<option>Bí thư</option>
							<option>Phó bí thư</option>
							<option>Ủy viên</option>
							<option>Thành viên</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Dân tộc</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Quận</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Huyện</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Tỉnh</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Địa chỉ thường trú</label>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm">
					</div>
				</div>
			</div>
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn blue">Tìm kiếm</button>
					<button type="button" class="btn default">Hủy bỏ</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

{% endblock %}